html{
    border: 2px solid red;
    margin-right: 1px;
    margin-left: 1px;
}

body {
    background-color: black;
    color: white;
    border: 2px solid red;
    font-family: monospace;
}

footer {
    text-align: center;
    margin: auto;
    padding: auto;

}

p {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    color: white;
    margin:10px;
}

hr {
    margin-right: 10px;
    margin-left: 10px;;
}







.divpic {
    text-align: center;
}

.pic-align {
    display: block;
    text-align: center;
    justify-content: center;

    border-radius: 100%;
    border-color: red;
    border-style: solid;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    width: 200px;
    height: 200px;
}

.name {
    font-size: 300%;
    text-align: center;
    color: red;
    border: 2px solid red;
    margin: 10px;
}

.contact-link {
    display: block;
    text-decoration: none;
    
}

.name:hover {
    display: block;
    text-decoration: none;
    background-color: red;
    color: black;
    
}